.payment-offers {
  margin: 30px;
  text-align: center;
  animation: fadeInUp 1s ease-out 0.4s both;
}

.offer-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.offer-card {
  background: #e9f9f8;
  color: #333;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.offer-card img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.offer-card:hover {
  background: #00a99d;
  color: #fff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
